@import "tailwindcss";

.root-container {
  width: 800px;
  height: 400px;
  background-color: #1c1a2c;
  color: #ddd8ff;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
  margin-top: 100px;
  text-overflow: clip;
}

.root-container pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}

.root-container pre span.selected {
  background-color: #9084ec;
  color: #1c1a2c;
}

.debug-container {
  width: 100vw;
  height: 300px;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aaa;
  color: #333e;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3;
  padding: 20px 100px;
}