@import "tailwindcss";

.root-container {
  width: 720px;
  height: 380px;
  background-color: #1c1a2c;
  margin: auto;
  margin-top: 100px;
}

.editor-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ddd8ff;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3;
  text-overflow: clip;
}

.editor-container pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}

.editor-container pre span.selected {
  background-color: #9084ec;
  color: #1c1a2c;
}

.editor-container pre span.uncommitted {
  opacity: 0.4;
}

.editor-container pre .cursor {
  display: inline-block;
  width: 2px;
  height: 1.1em;
  background-color: #ddd8ff;
  vertical-align: text-bottom;
  animation: blink 1s step-end infinite;
  margin-right: -2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.debug-container {
  width: 100vw;
  height: 300px;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aaa;
  color: #333e;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3;
  padding: 20px 100px;
}